@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap');

:root {
     --main-color: #1C1B1F;
     --light-color: #EBEBEB;
     --second-light-color: #b0b0b0;
     --secondry-color: #A86554;
     --yelow-color: #EAE6D2;

}

* {
     margin: 0;
     padding: 0;
     border: 0;
     box-sizing: border-box;
}

body {
     font-family: 'Cairo', sans-serif;
     background-color: var(--main-color);
}

ol, ul {
     list-style: none;
}

a {
     text-decoration: none;
     color: var(--light-color);
}

.btn {
     font-size: 17px;
     padding: 10px 20px;
     font-weight: bold;
     background-color: var(--secondry-color);
     font-family: 'Cairo', sans-serif;
     color: var(--light-color);
     border-radius: 5px;
}

/* ---------------------------------Hero------------------------------------------ */

.container {
     max-width: 80%;
     margin: auto;
}

.hero {
     background-image: linear-gradient(rgba(0, 0, 0, 0.4), #1C1B1F), url('assets/images/hero-image.jpg');
     height: 100vh;
     background-size: cover;
     background-position: center;
}
header {
     display: flex;
     justify-content: space-between;
     padding: 20px 0;
     height: 90px;
}

header img {
     width: 150px;
}

header nav li {
     display: inline;
     padding: 0 10px;
     color: var(--light-color);
}

.hero-text {
     text-align: center;
     height: calc(100vh - 90px);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.hero-text h1 {
     font-size: 100px;
     color: var(--light-color);
     font-weight: bold;
}

.hero-text p {
     color: #d4d4d4;
     margin-bottom: 40px;
     font-size: 18px;
}


/* ----------------------------------About us -------------------------- */

.about-us {
     padding: 100px 0;
}

.about-us .container {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.about-us .about-text {
     text-align: right;
}

.about-img, .about-text {
     flex: 1;
}

.about-img img {
     width: 80%;
}

.about-text h2 {
     font-size: 50px;
     color: var(--light-color);
}

.about-text p {
     font-size: 18px;
     color:var(--second-light-color);
     margin-bottom: 50px;
}


/* ----------------------------------Services -------------------------- */

.services {
     text-align: center;
     padding-bottom: 40px;
}

.services .title h2 {
     color: var(--light-color);
     font-size:50px;
}

.services .title p {
     color: var(--second-light-color);
}

.services-boxs {
     display: flex;
     flex-wrap: wrap;
     gap: 30px;
     margin: 50px 0;
     justify-content: center;
}

.services-boxs .box {
     background-color: #2B2B2B;
     border-radius: 5px;
     padding: 50px 15px;
     max-width: 300px;
     height: 300px;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.services-boxs .box h3 {
     color: var(--light-color);
     padding: 5px 0;
}

.services-boxs .box i {
     font-size: 50px;
     color: var(--light-color);
}

.services-boxs .box p {
     color: var(--second-light-color);
}

/* ----------------------------------Projects -------------------------- */

.projects {
     background-color: var(--light-color);
     text-align: center;
     padding: 100px 0;
}

.projects .title {
     margin-bottom: 50px;
}

.projects .title h2 {
     font-size:50px;
}

.projects-imgs {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 40px;
}

.projects-imgs img {
     max-width: 350px;
     border-radius: 6px;
}

/* ----------------------------------clients -------------------------- */


.clients {
     background-color: var(--light-color);
     padding-bottom: 100px;
}

.clients-imgs {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 25px;
}

.clients-imgs img {
     max-width: 230px;
}


/* ----------------------------------footer -------------------------- */

footer {
     background-color: #131313;
     padding: 100px 0;
     color: var(--second-light-color);
}

footer .container {
     display: flex;
     justify-content: space-between;
}

.footer-logo img {
     max-width: 150px;
}

.footer-contact , .important-links, .footer-logo {
     flex: 1;
}

.footer-contact , .important-links {
     text-align: center;
}

footer h4 {
     color: var(--light-color);
}

.footer-contact .social  {
     margin-top: 25px;
}

.footer-contact i {
     font-size: 25px;
     margin: 30px 15px;
     padding: 10px 20px;
     background-color: var(--light-color);
     border-radius: 50%;
     color: #131313;
}

/* ----------------------------------Media -------------------------- */

@media only screen and (max-width: 900px) {
     .about-us .container {
          flex-direction: column-reverse;
     }

     .about-img {
          text-align: right;
          margin-top: 35px;
     }

     .hero-text h1 {
          line-height: 130px;
     }
     
     header {
          flex-direction: column;
          text-align: center;
     }

     header div {
          text-align: center;
     }
}